div{
  text-align: center;
  height: 20vh;
}

h1{
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
  padding: 2%;
  width: 10%;
}

header{
  background-color: rgb(75, 75, 75) ;
  height: 10vh;
  width: 100%;
}